.navbar{
    font-family:Anton;
    background-color:white;
    font-size:20px;
}
.navbar-brand{
    padding-left:6px;
}
header{
    background-image:url("keyboard.jpg");
    padding-top:35vh;
    width: 100%;
    height: 95vh;
    background-size: cover;
    opacity: 0.8;
    text-align: center;
    font-family:Anton;
    color:white;
    font-size:90px;
}
#shopbutton{
    width:200px;
    height:60px;
    font-size:30px;
}

.contactus {
    margin-bottom: 80px;
    background-color: white;
    
}
.contactus .input-group {
   margin-bottom: 25px; 
    
}
.contactus i {
    padding: 25px;
}
.contactus .btn {
    border-radius: 0;
    width:100%;
    font-size: 15px;
    background-color:lightblue;
}
.contactus .button:hover {
    background-color: green!important;
}
.about-us-container {
    height:500px;
    width:100%;
    background-image: url("coolblue.jpg");
    background-size:cover;
    text-align:center;
    color: white;
}

.aboutustext{
    background-color: black;
    opacity: 0.6;
    text-align:center;
    color: white;
    justify-content:center;
}
.team{
    width: 110px;
    height:90px;
}



.footer{
    padding-left: 100px;
    background-color: black;
    opacity: 0.8;
    color: white;
    justify-content:center;
}

.unique{
    background-color:black;
   opacity:0.6;
    color:white;
}

.TheShow{
    height:100px;
    width:100px;
}