.navbar{
    font-family:Anton;
}
header{
    background-image:url("Videogame.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    opacity: 0.75;
}

.contactus {
    margin-bottom: 80px;
    background-color: white;
    
}
.contactus .input-group {
   margin-bottom: 25px; 
    
}
.contactus i {
    padding: 25px;
}
.contactus .btn {
    border-radius: 0;
    width:100%;
    font-size: 15px;
    background-color:lightblue;
}
.contactus .button:hover {
    background-color: green!important;
}
.about-us-container {
    height:300px;
    width:100%;
    background-image: url("coolblue.jpg");
    background-size:cover;
    text-align:center;
    color: white;
}

.aboutustext{
    background-color: black;
    opacity: 0.5;
}

